*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* INIZIO HEADER */

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

nav{
  float: right;
}

nav ul li{
  display: inline-block;
  margin: 15px;
  font-weight:900;
}

nav ul li a{
  text-decoration: none;
  padding: 10px 15px;
  background-color: white;
  border-radius: 50%;
}

/* INIZIO MAIN */

section{
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

section h2{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 50px;
  text-align: center;
}

#tre h2{
  color: green;
}

div .img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#uno {
  background-color: red;
}

#due{
  background-color: green;
}

#tre{
  background-color: yellow;
}

/* AGGIUNTA SHADOW */

nav ul li a:hover{
  box-shadow: 0px 3px 5px black;
}